.report-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}
.report-input {
  background-color:var(--background-secondary);
  color:  #fff;
  width: 100%;
  border-radius: 8px;
  padding: 7px 16px;
  box-shadow: rgba(77, 79, 82, 0.2) 0px 8px 24px;
  border: 2px solid #e5e5e5;
  font-size: 0.8rem;
  outline: none;
  transition: 0.5s ease;
  transform: translateY(40px);
}
.report-input.show{
  transform: translateY(0);
}
.report-input:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.report-input:focus {
  box-shadow: rgba(133, 130, 130, 0.1) 0px 4px 12px;
  transform: scale(0.99);
}

.report-input::placeholder {
  font-size: 13px;
  font-weight: 600;
}

.report-button {
  padding: 6px 15px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: var(--color-accent);
  border-radius: 6px;
  border: none;
  transition: 0.5s;
  width: 100%;
  margin-top: 7px;
  font-size: 13px;
  box-shadow: rgba(104, 100, 100, 0.1) 0px 4px 6px -1px, rgba(49, 42, 42, 0.06) 0px 2px 4px -1px;

}


.report-button:hover {
  border-radius: 7px;
  background-color: var(--color-accent-hover);
}


