.projects h2{
    font-size: var(--subtitle);
    font-weight: bold;
    text-transform: uppercase;
}
.banner{
    max-width: 700px ;
    width: 100%;
    height: 80vh;
    position: relative;
}
.banner .slider{
    position: absolute;
    width: 200px;
    height: 320px;
    top: 20%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px) ;
    animation: rotate 20s linear infinite;
}
.slider:hover{
    animation-play-state: paused;
}
.card h3{
    font-size: 1.5em;
    text-transform: uppercase;
}
.card p{
    font-size: 0.6em;
}
.card span{
    color: var(--primary-color);
    padding-inline: 5px ;
    border-radius: 10px;
    background-color: var(--accent-3);
}
.header-card{
    width: 100%;
    height: 40%;
    background-color: var(--accent-3);
}
.banner .slider .item{
    position: absolute;
    width: 100%;
    height: 100%; 
    border-radius: 20px;
    overflow: hidden;
    transform: /*(2- 1)* (360/4) */
        rotateY(calc( (var(--i) - 1) * (360/ var(--quantity)) * 1deg))
        translateZ(250px);
}

@media (width>=1280px) {
    .card p{
    font-size: 0.8em;
    }
    .banner .slider{
        width: 225px;
        height: 325px;
    }
    .banner .slider .item{
    transform: /*(2- 1)* (360/4) */
        rotateY(calc( (var(--i) - 1) * (360/ var(--quantity)) * 1deg))
        translateZ(400px);
    }
}
@keyframes rotate {
    0%{
        transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px)  rotateX(-10deg) rotateY(-360deg);
    }
} 