.introduction h2{
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
}.cards-container{
    justify-content: center;
    gap: 100px;
}
.cards-container li{
    display: flex;
}
.card-intro{
    background-color: var(--primary-color);
    color: var(--accent-3);
    border-radius: 20px;
    padding-block: 20px;
    height: 100px;
    width: 60%;
}
.cards-container li{
    display: flex; 
    align-items: center;
    gap:10px
}
.cards-container li:nth-child(2),
.cards-container li:nth-child(4){
    justify-content: end;
}
@media (width>=1080px) {
    .introduction h2{
    font-size: 2.0em;

    }
    .card-intro{
        height: 80px;
        width: 50%;
        padding-block: 0px;
    }
    .cards-container li{
    display: flex;
    }
}