@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  /* Main colors */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Neutral tones */
  --color-gray-light: #f5f5f5;
  --color-gray-medium: #cccccc;
  --color-gray-dark: #333333;

  /* Accent color (use sparingly) */
  --color-accent: #13da0c; /* modern green */
  --color-accent-hover: #1d8304;

  /* Text colors */
  --text-primary: var(--color-black);
  --text-secondary: var(--color-gray-dark);
  --text-inverse: var(--color-white);

  /* Backgrounds */
  --background-primary: var(--color-white);
  --background-secondary: var(--color-gray-light);
}



body {
  background: var(--background-primary);
  color: var(--text-primary);
  font-family: "Roboto", sans-serif;
}
