@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --accent-1:#e5e5e5;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
}
