.player-description h3{
    font-size: 20px;
    font-weight: bold;
}
.progress-bar{
    position: relative;
    height: 0.5vh;
    background-color: var(--color-gray-dark);
    border-radius: 5px;
}
.progress-bar::after{
    position: absolute;
    content: '';
    height: 100%;
    width: calc((var(--current-time)/var(--duration))*100%);
    transition: width 200ms linear;
    border-radius: 5px;
    background-color: var(--color-accent);
}
.musicPlayerPopup{
    border: 1px solid #ffffff20;
}

.slider {
  /* slider */
  --slider-width: 5vw;
  --slider-height: 6px;
  --slider-bg: rgb(82, 82, 82);
  --slider-border-radius: 999px;
  /* level */
  --level-color: #fff;
  --level-transition-duration: .1s;
  /* icon */
  --icon-margin: 15px;
  --icon-color: var(--slider-bg);
  --icon-size: 25px;
}

.slider {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.level {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--slider-width);
  height: var(--slider-height);
  background: var(--slider-bg);
  overflow: hidden;
  border-radius: var(--slider-border-radius);
  -webkit-transition: height var(--level-transition-duration);
  -o-transition: height var(--level-transition-duration);
  transition: height var(--level-transition-duration);
  cursor: inherit;
}

.slider .level::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  -webkit-box-shadow: -200px 0 0 200px var(--level-color);
  box-shadow: -200px 0 0 200px var(--level-color);
}

.slider:hover .level {
  height: calc(var(--slider-height) * 2);
}

@media (max-width:1080px) {
    .slider{
        --slider-width: 8vw;
    }
}
